:root {
    --primary-color: #4ba477;
    --secondary-color: #8acce7;
}

* {
    box-sizing: border-box;
}

body {
    /* I'm putting the background this color for now because it's easier to work around with */
    background-color: #5e5e5e;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 15px;
}

h1 {
    color: var(--primary-color);
}

p {
    color: var(--secondary-color);
}

.button {
    color: #000;
    font-weight: bold;
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: 7px;
    font-size: 20px bold ;
    padding: 5px 12px;
}

.img {
    width: 300px;
}

.currency {
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px 20px 20px 10px;
    appearance: none;
    border: 1px solid gray;
    font-size: 16px;
    background: transparent;
}

.currency input {
    border: 0;
    background: transparent;
    font-size: 35px;
    text-align: right;
}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

rate {
    color: var(--primary-color-color);
    font-size: 14px;
    padding: 0 10px;
}

@media (max-width: 600px) {
    .currency input {
        width: 200px;
    }
}